<div class="row mt-5">
<div class="col-sm">
  <h2>Import Reports</h2>

  <div class="row mt-5"/>
    <div class="col-sm">
      <span class="float-heading <%= @flagged_runs.total_count == 0 ? 'text-dark' : 'text-warning'%>">
        Flagged Import Runs: <%= @flagged_runs.total_count %>
      </span>
      <%= paginate @flagged_runs, window: 2, param_name: :flagged_page %>
      <%= render partial: 'import_run_table', locals: { import_runs: @flagged_tabular, import_run_summaries: @flagged_summaries } %>
    </div>
  </div>

  <div class="row mt-5"/>
    <div class="col-sm">
      <span class="float-heading">Total Import Runs: <%= @all_runs.total_count %></span>
      <%= paginate @all_runs, window: 2, param_name: :report_page %>
      <%= render partial: 'import_run_table', locals: { import_runs: @all_tabular, import_run_summaries: @all_summaries } %>
    </div>
  </div>

</div>

