<div class="row mt-5">
  <div class="col-sm">
    <h1>Search Logs</h1>
    <% if @ip %>
      <h4>IP Address: <%= @ip %><%= " (#{@name})" if @name %></h4>
    <% end %>
    </br>
    <p><span class="float-heading">Total count: <%= @search_logs.total_count %></span></p>
    <%= paginate @search_logs, window: 2 %>
    <%= render partial: 'search_log_table', locals: { search_logs: @search_logs } %>
  </div>
</div>
