<div class="row">
  <div class="col-sm">
    <h1>Import Run (<%= @import_run.status&.capitalize %>): <%= @import_run.repository.name %> [<%= format_datetime_with_tz(@import_run.start_time) %>]</h1>
    <% if @import_run.status == 'failure' %>
    <h4>Failed: <%= @import_run.error_message %></h4>
    <% end %>
    <% if @import_run.status == 'flagged' %>
    <p>This import run was flagged due to the large number of changes. Indexing of the repository
      is disabled until this is resolved. If you accept the import run, the changes below will be
      persisted. If you reject the import run, the changes will be rolled back to the state prior to
      this run and this run will be marked as suppressed. Either action will re-enable indexing of
      the repository.
    <div class="container">
      <div class="row">
        <div class="col-1">
          <%= button_to "Accept", { action: :accept_run, id: @import_run.id }, class: "btn btn-success", data: { confirm: "Are you sure? This will accept all changes." } %>
        </div>
        <div class="col-1">
          <%= button_to "Reject", { action: :reject_run, id: @import_run.id} , class: "btn btn-danger", data: { confirm: "Are you sure? This will suppress all changes." } %>
        </div>
      </div>
    </div>
    </p>
    <% end %>
    <% updated = @versions.select { |v| v.event == 'update' } %>
    <h4>Updated [<%= updated.length %>]</h4>
    <ul>
      <% updated.each do |v| %>
        <li><%= link_to v.item.title, v.item %> [<%= link_to 'changes', v %>]</li>
      <% end %>
    </ul>
    <% added = @versions.select { |v| v.event == 'create' } %>
    <h4>Added [<%= added.length %>]</h4>
    <ul>
      <% added.each do |v| %>
        <li><%= link_to v.item.title, v.item %></li>
      <% end %>
    </ul>
    <% deleted = @versions.select { |v| v.event == 'destroy' || v.event == 'retract' } %>
    <h4>Deleted [<%= deleted.length %>]</h4>
    <ul>
      <% deleted.each do |v| %>
        <% if v.item.present? %>
          <li><%= link_to v.item.title, v.item %></li>
        <% else %>
          <li><%= v.object['title'] %></li>
        <% end %>
      <% end %>
    </ul>
    <% if @import_run.error_msgs.present? %>
    <h4>Errors [<%= @import_run.error_msgs.size %>]</h4>
    <ul>
      <% @import_run.error_msgs.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <% if @import_run.warning_msgs.present? %>
    <h4>Warnings [<%= @import_run.warning_msgs.size %>]</h4>
    <ul>
      <% @import_run.warning_msgs.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
