<div class="row">
  <div class="col-sm">
    <h1>Import Run: <%= @import_run.repository.name %> [<%= format_datetime_with_tz(@import_run.start_time) %>]</h1>
    <% if @import_run.status == 'failure' %>
    <h4>Failed: <%= @import_run.error_message %></h4>
    <% end %>
    <% updated = @versions.select { |v| v.event == 'update' } %>
    <h4>Updated [<%= updated.length %>]</h4>
    <ul>
      <% updated.each do |v| %>
        <li><%= link_to v.item.title, v.item %> [<%= link_to 'changes', v %>]</li>
      <% end %>
    </ul>
    <% added = @versions.select { |v| v.event == 'create' } %>
    <h4>Added [<%= added.length %>]</h4>
    <ul>
      <% added.each do |v| %>
        <li><%= link_to v.item.title, v.item %></li>
      <% end %>
    </ul>
    <% deleted = @versions.select { |v| v.event == 'destroy' } %>
    <h4>Deleted [<%= deleted.length %>]</h4>
    <ul>
      <% deleted.each do |v| %>
        <li><%= v.object['title'] %></li>
      <% end %>
    </ul>
    <% if @import_run.error_msgs.present? %>
    <h4>Errors [<%= @import_run.error_msgs.size %>]</h4>
    <ul>
      <% @import_run.error_msgs.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <% if @import_run.warning_msgs.present? %>
    <h4>Warnings [<%= @import_run.warning_msgs.size %>]</h4>
    <ul>
      <% @import_run.warning_msgs.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
