<%= render 'general_statistics', title: 'CEDAR Statistics' %>

<%= render 'data_with_pie_chart', title: 'Artifacts Per Repository', data: @artifacts_per_repository, path_method: :repository_path %>

<%= render 'data_with_pie_chart', title: 'Artifacts By Status', data: @artifacts_by_status %>

<%= render 'data_with_pie_chart', title: 'Top 10 Artifacts By Type', data: @top_artifacts_by_type %>

<%= render 'data_with_pie_chart', title: 'Top 10 Keywords', data: @top_artifacts_per_keyword, path_method: :keyword_path %>

<div class="row mt-5">
  <div class="col-sm">
    <h3>Import Statistics</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Repository</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Artifacts</th>
          <th>New</th>
          <th>Updated</th>
          <th>Deleted</th>
        </tr>
      </thead>
      <tbody>
        <% @import_run_summaries.each do |date, irs| %>
        <tr>
          <th><%= date.to_formatted_s(:long) %></th>
          <th></th>
          <th></th>
          <th></th>
          <th><%= irs.total_count %></th>
          <th><%= irs.new_count %></th>
          <th><%= irs.update_count %></th>
          <th><%= irs.delete_count %></th>
        </tr>
        <% @import_runs[date].each do |ir| %>
        <tr>
          <td></td>
          <td><%= link_to ir.repository.name, ir.repository %></td>
          <td>
            <% if ir.start_time && ir.end_time %>
              <%= distance_of_time_in_words(ir.end_time, ir.start_time) %>
            <% else %>
              Incomplete
            <% end %>
          </td>
          <td><%= ir.status %></td>
          <td><%= ir.total_count %></td>
          <td><%= ir.new_count %></td>
          <td><%= ir.update_count %></td>
          <td><%= ir.delete_count %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3>Tag Cloud</h3>
    <%# The code for the tag cloud is in app/javascript/packs/tag-cloud.js %>
    <div id='tag-cloud' />
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3>Search Logs</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date Time</th>
          <th>Search Type</th>
          <th>Search Parameters</th>
          <th>SQL</th>
          <th>Result Count</th>
          <th>Client IP</th>
          <th>Time Consumed (ms)</th>
        </tr>
      </thead>
      <tbody>
        <% @search_logs.each do |sl| %>
        <tr>
          <td><%= sl.start_time %></td>
          <td><%= sl.search_type %></td>
          <td><%= sl.search_params %></td>
          <td><%= sl.sql %></td>
          <td><%= sl.count %></td>
          <td><%= sl.client_ip %></td>
          <td><%= Integer((sl.end_time - sl.start_time) * 1000) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'data_with_pie_chart', title: 'Last 10 days search', data: @search_logs_day_count, count_term: 'searches' %>

<%= render 'data_with_pie_chart', title: 'Last 10 days search by Keywords', data: @search_per_keyword %>
