<%= render 'general_statistics', title: 'CEDAR Statistics' %>

<%= render 'data_with_pie_chart', title: 'Artifacts Per Repository', data: @artifacts_per_repository, path_method: :repository_path %>

<%= render 'data_with_pie_chart', title: 'Artifacts By Status', data: @artifacts_by_status %>

<%= render 'data_with_pie_chart', title: 'Top 10 Artifacts By Type', data: @top_10_artifacts_by_type %>

<%= render 'data_with_pie_chart', title: 'Top 10 Keywords', data: @top_artifacts_per_keyword, path_method: :keyword_path %>

<div class="row mt-5">
  <div class="col-sm">
    <h3>Tag Cloud</h3>
    <div id='tag-cloud' />
    <script>tagCloud('#tag-cloud', [1200, 800], <%= raw @keyword_counts.to_json %>)</script>
  </div>
</div>
