<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CEDAR</a>
</nav>

<div class="container mt-4">

  <div class="row">
    <div class="col-sm">
      <h1>CEDAR Statistics</h1>

      <table class="table">
        <tbody>
          <tr>
            <td>Total Artifacts</td>
            <td><%= @artifact_count %></td>
          </tr>
          <tr>
            <td>Artifacts Missing Description</td>
            <td><%= @artifact_count_missing_description %> (<%= number_to_percentage(@artifact_count_missing_description * 100 / @artifact_count, precision: 0) %>)</td>
          </tr>
          <tr>
            <td>Artifacts Missing Keywords</td>
            <td><%= @artifact_count_missing_keywords %> (<%= number_to_percentage(@artifact_count_missing_keywords * 100 / @artifact_count, precision: 0) %>)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= render 'data_with_pie_chart', title: 'Artifacts Per Repository', data: @artifacts_per_repository %>

  <%= render 'data_with_pie_chart', title: 'Artifacts By Status', data: @artifacts_by_status %>

  <%= render 'data_with_pie_chart', title: 'Top 10 Keywords', data: @top_artifacts_per_keyword %>

</div>
