<%= render 'general_statistics', title: 'CEDAR Statistics' %>

<a id="artifacts" class="mt-5 mb-5"></a>
<%= render 'data_with_pie_chart', title: 'Artifacts Per Repository', data: @artifacts_per_repository, path_method: :repository_path, alt_text: 'A pie chart displaying the table data for Artifacts Per Repository' %>

<%= render 'data_with_pie_chart', title: 'Artifacts By Status', data: @artifacts_by_status, alt_text: 'A pie chart displaying the table data for Artifacts By Status' %>

<%= render 'data_with_pie_chart', title: 'Artifact Clicks Per Repository', data: @artifact_clicks_per_repository, path_method: :repository_path, alt_text: 'A pie chart displaying the table data for Artifact Clicks Per Repository' %>

<% if @artifact_clicks.count > 0 %>
<div class="row mt-5">
  <div class="col-sm">
    <h3 id="clicked_links">Top 10 Artifact Click Throughs</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Artifact Title</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% @artifact_clicks.each do |artifact| %>
          <tr>
            <td><%= artifact.repository.alias %></td>
            <td><%= link_to artifact.title, artifact %></td>
            <td><%= artifact.search_stats.click_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<%= render 'data_with_pie_chart', title: 'Artifact Search Hits Per Repository', data: @artifact_returns_per_repository, path_method: :repository_path, alt_text: 'A pie chart displaying the table data for Artifact Search Hits Per Repository' %>

<% if @returned_artifacts.count > 0 %>
<div class="row mt-5">
  <div class="col-sm">
    <h3 id="clicked_links">Top 10 Artifact Search Hits</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Artifact Title</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @returned_artifacts.each do |artifact| %>
          <tr>
            <td><%= artifact.repository.alias %></td>
            <td><%= link_to artifact.title, artifact %></td>
            <td><%= artifact.search_stats.returned_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<%= render 'data_with_pie_chart', title: 'Top 10 Artifact Types', data: @top_artifacts_by_type, alt_text: 'A pie chart displaying the table data for Top 10 Artifacts By Type' %>

<%= render 'data_with_pie_chart', title: 'Top 10 Keywords', data: @top_artifacts_per_keyword, path_method: :keyword_path, alt_text: 'A pie chart displaying the table data for Top 10 Keywords' %>

<hr class="mt-5 mb-5"/>
<a id="imports" class="mt-5 mb-5"></a>
<div class="row mt-10">
  <div class="col-sm">
    <h3>Import Statistics</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Repository</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Artifacts</th>
          <th>New</th>
          <th>Updated</th>
          <th>Deleted</th>
          <th>Errors</th>
          <th>Warnings</th>
        </tr>
      </thead>
      <tbody>
        <% @import_run_summaries.each do |date, irs| %>
        <tr class="import-run-summaries">
          <td><%= format_date(date) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= irs.total_count %></td>
          <td><%= irs.new_count %></td>
          <td><%= irs.update_count %></td>
          <td><%= irs.delete_count %></td>
          <td><%= irs.error_msgs.size %></td>
          <td><%= irs.warning_msgs.size %></td>
        </tr>
        <% @import_runs[date].sort_by(&:start_time).reverse_each do |ir| %>
        <tr>
          <td><%= link_to format_datetime_with_tz(ir.start_time), ir %></td>
          <td><%= link_to ir.repository.name, ir.repository %></td>
          <td>
            <% if ir.start_time && ir.end_time %>
              <%= distance_of_time_in_words(ir.end_time, ir.start_time) %>
            <% else %>
              Incomplete
            <% end %>
          </td>
          <td><%= ir.status %></td>
          <td><%= ir.total_count %></td>
          <td><%= ir.new_count %></td>
          <td><%= ir.update_count %></td>
          <td><%= ir.delete_count %></td>
          <td><%= ir.error_msgs.size %></td>
          <td><%= ir.warning_msgs.size %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr class="mt-5 mb-5"/>
<a id="tags" class="mt-5 mb-5"></a>
<div class="row mt-10">
  <div class="col-sm">
    <h3>Tag Cloud</h3>
    <%# The code for the tag cloud is in app/javascript/packs/tag-cloud.js %>
    <a class="a11y-nav" href="#searches" data-turbolinks="false">Skip Tag Cloud</a>
    <div id="tag-cloud"></div>
  </div>
</div>

<hr class="mt-5 mb-5"/>
<a id="searches" class="mt-5 mb-5"></a>
<div class="row mt-10"/>
  <div class="col-sm">
    <%= render 'search_log_table', title: 'Search Logs for the 10 Most Recent Searches', data: @search_logs, show_link: true %>
  </div>
</div>

<%= render 'data_with_pie_chart', title: 'Search Counts for the Last 10 Days', data: @search_per_day, count_term: 'searches', alt_text: 'A pie chart displaying the table data for Search Counts for the Last 10 Days' %>

<%= render 'data_with_pie_chart', title: 'Search Counts by Parameter for the Last 10 Days', data: @search_per_parameter_name, count_term: 'searches', alt_text: 'A pie chart displaying the table data for Search Counts by Parameter for the Last 10 Days' %>

<%= render 'data_with_pie_chart', title: 'Top 20 Search Terms for the Last 10 Days', data: @search_per_parameter_value, count_term: 'searches', alt_text: 'A pie chart displaying the table data for Top 20 Search Terms for the Last 10 Days' %>
