<%= render 'general_statistics', title: "#{@repository.name} Repository Statistics" %>

<%= render 'data_with_pie_chart', title: 'Artifacts By Status', data: @artifacts_by_status, alt_text: 'A pie chart displaying the table data for this repository\'s Artifacts By Status' %>

<% if @artifact_clicks.present? %>
<div class="row mt-5">
  <div class="col-sm">
    <h3 id="clicked_links">Top 10 Artifact Click Throughs</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Artifact Title</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% @artifact_clicks.each do |row| %>
          <tr>
            <td><%= link_to row[:artifact].title, row[:artifact] %></td>
            <td><%= row[:count] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<% if @returned_artifacts.present? %>
<div class="row mt-5">
  <div class="col-sm">
    <h3 id="clicked_links">Top 10 Artifact Search Hits</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Artifact Title</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @returned_artifacts.each do |row| %>
          <tr>
            <td><%= link_to row[:artifact].title, row[:artifact] %></td>
            <td><%= row[:count] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<%= render 'data_with_pie_chart', title: 'Top 10 Keywords', data: @top_artifacts_per_keyword, path_method: :keyword_path, alt_text: 'A pie chart displaying the table data for this repository\'s Top 10 Keywords' %>

<div class="row mt-5">
  <div class="col-sm">
    <h3 id="missing_desc">Missing Attributes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Artifact Type</th>
          <th>Total</th>
          <th><%= link_to 'Missing Title', "/repository_missing/#{@repository.id}?missing=title" %></th>
          <th><%= link_to 'Missing Description', "/repository_missing/#{@repository.id}?missing=description" %></th>
          <th><%= link_to 'Missing Keyword', "/repository_missing/#{@repository.id}?missing=keyword" %></th>
          <th>Missing Concept</th>
          <th><%= link_to 'Missing Concept with keyword', "/repository_missing/#{@repository.id}?missing=concept" %></th>
        </tr>
      </thead>
      <tbody>
        <% @missing_attribute.each do |row| %>
          <tr>
            <td><%= row["artifact_type"] %></td>
            <td><%= row["total"] %></td>
            <td><%= row["missing_title"] %></td>
            <td><%= row["missing_desc"] %></td>
            <td><%= row["missing_keyword"] %></td>
            <td><%= row["missing_concept"] %></td>
            <td><%= row["missing_concept"] - row["missing_keyword"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3>Import Statistics</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Start</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Artifacts</th>
          <th>New</th>
          <th>Updated</th>
          <th>Deleted</th>
          <th>Errors</th>
          <th>Warnings</th>
        </tr>
      </thead>
      <tbody>
        <% @repository.import_runs.order(:id).reverse_order.each do |import| %>
          <tr>
            <td><%= link_to format_datetime_with_tz(import.start_time), import %></td>
            <td>
              <% if import.start_time && import.end_time %>
                <%= distance_of_time_in_words(import.end_time, import.start_time) %>
              <% else %>
                Incomplete
              <% end %>
            </td>
            <td><%= import.status %></td>
            <td><%= import.total_count %></td>
            <td><%= import.new_count %></td>
            <td><%= import.update_count %></td>
            <td><%= import.delete_count %></td>
            <td><%= import.error_msgs.size %></td>
            <td><%= import.warning_msgs.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


