<div class="row mt-5">
  <div class="col-sm">
    <h3><%= "#{@repository.name} Artifacts with missing #{@missing_type}" %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>CEDAR ID</th>
          <th>External ID</th>
          <th>Artifact Type</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @missing_artifacts.each do |row| %>
          <tr>
            <td><%= row.id %></td>
            <td><%= row.remote_identifier %></td>
            <td><%= row.artifact_type %></td>
            <td>
              <% if row.title.present? %>
                <%= link_to row.title, row.url, target: :_blank %>
              <% else %>
                <%= link_to 'No Title', row.url, target: :_blank %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>