<div class="row mt-5">
  <div class="col-sm">
    <h1>Repository Report</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Total</th>
          <th>Missing Title</th>
          <th>Missing Description</th>
          <th>Missing Keyword</th>
          <th>Missing Concept</th>
        </tr>
      </thead>
      <tbody>
        <% @repositories.each do |repository| %>
        <tr>
          <td><%= repository.name %></td>
          <td><%= repository.stats.sum(:total) %></td>
          <td><%= repository.stats.sum(:missing_title) %></td>
          <td>
            <% missing_desc = repository.stats.sum(:missing_desc) %>
            <% if missing_desc > 0 %>
              <%= link_to missing_desc, "repository/#{repository.id}#missing_desc" %>
            <% else %>
              <%= missing_desc %>
            <% end %>
          </td>
          <td>
            <% missing_keyword = repository.stats.sum(:missing_keyword) %>
            <% if missing_keyword > 0 %>
              <%= link_to missing_keyword, "repository/#{repository.id}#missing_desc" %>
            <% else %>
              <%= missing_keyword %>
            <% end %>
          </td>
          <td>
            <% missing_concept = repository.stats.sum(:missing_concept) %>
            <% if missing_concept > 0 %>
              <%= link_to missing_concept, "repository/#{repository.id}#missing_desc" %>
            <% else %>
              <%= missing_concept %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
