<style>
  <%= Diffy::CSS %>
</style>
<div class="row">
  <div class="col-sm">
    <h1><%= @version.item&.title || @version.object&.[]('title') || '[Title Unknown]' %> [<%= @version.created_at.to_formatted_s(:long) %>]</h1>
    <% @version.object_changes.each do |field, change| %>
      <h4><%= field %></h4>
      <p><%= Diffy::Diff.new(change[0], change[1]).to_s(:html).html_safe %></p>
    <% end %>
  </div>
</div>
