<% if local_assigns.has_key?(:title) %>
  <h3><%= title %></h3>
<% end %>
<% if local_assigns[:show_link] %>
  <div class="row mt-3 mb-3">
    <div class="col-sm">
      <%= link_to 'View All Search Logs', search_logs_path, class: "float-right" %>
    </div>
  </div>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th style="width: 16.66%">Date Time</th>
    <th style="width: 40%">Search Params</th>
    <th style="width: 15.33%">Results Returned / Clicked</th>
    <th style="width: 11.33%">Total Results</th>
    <th style="width: 8.33%">Client</th>
    <th style="width: 8.33%">Time (ms)</th>
  </tr>
  </thead>
  <tbody>
  <% @search_logs.each_with_index do |sl, index| %>
    <tr>
      <td><%= format_datetime_with_tz(sl.start_time) %></td>
      <td>
        <ul class="bare-list">
          <% human_readable_search_params(sl.search_params).each do |param, param_value| %>
            <% if param_value.kind_of?(Array) && param == 'Code Search' %>
              <li>Code Search:</li>
              <% param_value.each do |code_search| %>
                <span>• <%= get_code_description(code_search) %></span>
                <ul class="list-horizontal">
                <% parse_code_search(code_search).each do |code_system, code| %>
                  <li><small><b><%= code_system %>:</b> <%= code %></small></li>
                <% end %>
                </ul>
              <% end %>
            <% else %>
              <li><%= param %>: <%= param_value %></li>
            <% end %>
          <% end %>
        </ul>
        <a class="show-raw-json" id=<%= index %>>Show Raw JSON</a>
        <pre class="hidden" id="raw-json-<%= index %>" ><%= JSON.pretty_generate(sl.search_params) %></pre>
      </td>
      <td>
        <%= sl.count || 0 %> / <%= sl.link_clicks&.size&.to_i %>
        <ul class="bare-list">
          <% sl.repository_results.values.sort_by { |e| e['alias'] }.each do |repo| %>
            <% next if repo['count'].nil? %>
          <li><small><%= "#{repo['count']} / #{repo['clicked'].to_i} #{repo['alias']}" %></small></li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= sl.total %>
        <ul class="bare-list">
          <% sl.repository_results.values.sort_by { |e| e['alias'] }.each do |repo| %>
            <% next if repo['total'].nil? %>
          <li><small><%= "#{repo['total']} #{repo['alias']}" %></small></li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= sl.client_ip %>
        <% if sl.client_id.present? %>
          <br><small>(<%= sl.client_id %>)</small>
        <% end %>
      </td>
      <td><%= if sl.end_time.nil? then 'Never Completed' else Integer((sl.end_time - sl.start_time) * 1000) end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
