<% if local_assigns.has_key?(:title) %>
  <h3><%= title %></h3>
<% end %>
<% if local_assigns[:show_link] %>
  <div class="row mt-3 mb-3">
    <div class="col-sm">
      <%= link_to 'View All Search Logs', search_logs_path, class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th style="width: 16.66%">Date Time</th>
    <th style="width: 50%">Search Params</th>
    <th style="width: 8.33%">Results Returned</th>
    <th style="width: 8.33%">Total Results</th>
    <th style="width: 8.33%">Client IP</th>
    <th style="width: 8.33%">Time (ms)</th>
  </tr>
  </thead>
  <tbody>
  <% @search_logs.each_with_index do |sl, index| %>
    <tr>
      <td><%= format_datetime_with_tz(sl.start_time) %></td>
      <td>
        <ul class="bare-list">
          <% human_readable_search_params(sl.search_params).each do |param, param_value| %>
            <% if param_value.kind_of?(Array) && param == 'Code Search' %>
              <li>Code Search</li>
              <% param_value.each do |code_search| %>
                <ul class="list-horizontal">
                <% parse_code_search(code_search).each do |code_system_reference| %>
                  <li><small><%= code_system_reference %>,</small></li>
                <% end %>
                </ul>
                <br>
              <% end %>
            <% else %>
              <li><%= param %>: <%= param_value %></li>
            <% end %>
          <% end %>
        </ul>
        <a class="show-raw-json" id=<%= index %>>Show Raw JSON</a>
        <pre class="hidden" id="raw-json-<%= index %>" ><%= JSON.pretty_generate(sl.search_params) %></pre>
      </td>
      <td><%= sl.count %></td>
      <td><%= sl.total %></td>
      <td><%= sl.client_ip %></td>
      <td><%= Integer((sl.end_time - sl.start_time) * 1000) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
