<!DOCTYPE html>
<html>
  <head>
    <title>CEDAR Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tag-cloud', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="justify-content:normal">
      <%= link_to 'CEDAR', root_path, class: 'navbar-brand' %>
      <%= nav_bar do %>
        <%= nav_link 'Repository Reports', repository_report_path %>
        <%= nav_link 'Search Logs', search_logs_path %>
      <% end %>
      <a id="back to top"></a>
    </nav>
    <% if defined?(@subnavigation) %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <span class="navbar-brand">Jump to: </span>
        <ul class="navbar-nav">
          <% @subnavigation.each do |item| %>
            <li class="nav-item">
              <a class="nav-link" href="#<%= item.downcase %>" data-turbolinks="false"><%= item %></a>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
